.pincodeSub{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: #184365;
    color: #ffff;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    letter-spacing: 1px;
}